build/
build2/
*.obj
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.log
*.ini
sim_output/
isimpa_temp_proj/
test_proj/
elmia_project/
gui_stdout.txt
gui_debug.txt
isimpa_project.json
isimpa_temp_script.py
isimpa_console.log
test_project.isimpa
